.co-deaths {
  @include flex(flex-start, flex-start);

  &__image {
    margin-inline-end: 15px;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    &--squire {
      border-radius: 6px;
      width: 100px;
      height: 100px;
    }
  }

  &__title {
    font-size: rem(14);
    font-weight: 500;
    margin-bottom: 10.5px;
    display: block;
    margin-inline-end: 20px;
  }

  &__info {
    flex: 2;
  }

  &__date {
    font-size: rem(12);
    color: $text-color-grey;
    margin-bottom: 15.5px;
    @include flex(center);

    &__icon {
      margin-inline-end: 6px;
    }

    &__label {
    }

  }

  &__description {
    font-size: rem(14);
    font-weight: 400;
    color: $text-color-1;
  }

  &__header {
    @include flex(flex-start, space-between);

    &__wrapper {
      width: 100%;
    }
  }

  @include media-breakpoint-down(sm){
    flex-direction: column;

    &__image {
      margin-bottom: 20px;
    }

    &__header {
      flex-direction: column;
    }

    .btn {
      width: 100%;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
