.co-news {
  @include flex(flex-start);

  &__image {
    margin-inline-end: 15px;
    border-radius: $main-border-radius;

  }

  &__title {
    font-size: rem(14);
    font-weight: 500;
    margin-bottom: 10.5px;
    display: block;
  }

  &__date {
    font-size: rem(12);
    color: $text-color-grey;
    margin-bottom: 15.5px;
    @include flex(center);

    &__icon {
      margin-inline-end: 6px;
    }

    &__label {
    }

  }

  &__link {
    color: $primary-color;
    font-weight: 600;
    font-size: rem(14);
  }

  @include media-breakpoint-down(sm){
    flex-direction: column;

    &__image {
      width: 100%;
      margin-bottom: 20px;
    }
  }
}
