.co-statistics {
  &__label {
    color: $color-white;
    font-size: rem(40);
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }

  &__value {
    color: $color-white;
    font-size: rem(14);
    font-weight: 300;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    line-height: 24px;

  }
}