.not-found {
  text-align: center;

  &__title {
    font-size: rem(32);
    font-weight: 600;
    margin-bottom: 30px;
  }

  &__heading {
    font-size: rem(16);
    font-weight: 400;
    margin-bottom: 30px;
  }

  @include media-breakpoint-down(sm){
    & {
      .co-form-input, .btn {
        display: block;
        width: 100%;
      }
      .co-form-input {
        margin-bottom: 10px;
      }
    }
  }
}